body,#message-thread .incoming, #message-thread .outgoing {
    color: #aaa;
    background-color: #222;
    line-height: 1.4;
}
a,#entry-list a{
    color: #B84C4C; 
}
#entry-list footer .other .eksico {
    fill: #B84C4C;
}
.ads,#videos{
    display:none;
}
#search-form button[type=submit]{
background-color: #B84C4C; 
}
body>header{
border-top:none;
border-bottom: 1px dotted #555;
}
.separated>li{
border-top: 1px dotted #555;
}
#index-section {
border-right: 1px dotted #555;
}
.pager>a,
.pager select,
.more-data,#message-thread .incoming, #message-thread .outgoing
{
border: 1px dotted #555;
}
#partial-index{
margin-right: 5px;
}
h1, h2, h3, h4, h5, h6{
color:#999;
}
body.light-theme.theme-disabled>header{
    background-color: #222;
    color: #fff;
}
body.light-theme.theme-disabled #top-navigation>ul>li>a,
body.light-theme.theme-disabled #sub-navigation>ul>li>a,
.sub-title-menu>div>a {
    color: #999
}
input, select, textarea,.dropdown .dropdown-menu {
    color: #ddd;
    background-color: #222;
}
.editform {
    background-color: #333;
}
button, input[type=submit], input[type=button], button, input[type=submit], input[type=button],#topic-channel-info #topic-channels li.channel>a{
    background-color: #222;
    color:#ddd;
    border: 1px dotted #555;
}
button:hover, input[type=submit]:hover, input[type=button]:hover, button:focus, input[type=submit]:focus, input[type=button]:focus,#topic-channel-info #topic-channels li.channel>a:hover,#topic-channel-info #topic-channels li.channel>a:focus
{
    background-color: #000;
    color:#bbb;
}
html sup.ab a {
    background-color:black;
}
#logo a {
    background-image: url('http://thedewil.com/eksisozluk_logo.svg');}

button.primary, input[type=submit].primary, input[type=button].primary{
    background-color:#B84C4C;
    border: 1px solid #BA8585
}
#sub-navigation>ul>li.active>a {
    border-color: #B84C4C;
    text-decoration: none;
}
